name: Publish NPM package

on:
  push:
    branches:
      - main  # Change this to your default branch if not 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '20'
        registry-url: 'https://registry.npmjs.org'
    - run: npm ci
    - run: npm run build  # If you have a build script
    - run: git stash --include-untracked
    - run: npm version patch -m "Upgrade to %s"
    - run: git stash pop
    - run: git push origin main --tags
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}